{% extends 'base.html' %}

{% block title %}

 Home
           
{% endblock %}




{% block content %}





<section class="w-full mx-auto bg-nordic-gray-light flex pt-12 md:pt-0 md:items-center bg-cover bg-right" style="max-width:1600px; height: 22rem; background-image: url('/static/img/backImage.jpg');">

	<div class="container mx-auto">

		<div class="flex flex-col w-full lg:w-1/2 justify-center items-start  px-6 tracking-wide">
			
		</div>

	  </div>

</section>






<section class="text-gray-600 body-font">
  
  <div class="container px-5 py-20 mx-auto">

    <h1 class="uppercase tracking-wide flex flex-col  items-center no-underline hover:no-underline font-bold text-gray-800 text-xl mb-5"> Categories</h1>
    <div class="flex flex-wrap -m-4">

      <a class="p-4 lg:w-1/4 h-1/4"href = "/JEE">

      
        <div class="h-full bg-red-100 shadow border-1 border-gray-400 px-8 pt-16 pb-24 rounded-lg overflow-hidden text-center hover:transition duration-150 ease-in-out">
          <h1 class="title-font sm:text-2xl text-xl font-medium text-gray-900 mb-3">
            JEE (Main/ Advanced)
          </h1>
         
        </div>
      
      </a>




      

      <a class="p-4 lg:w-1/4 h-1/4 sm-w-1/3"href = "/Schools">
      
        <div class="h-full bg-gray-200 shadow border-1 border-gray-400 px-8 pt-16 pb-24 rounded-lg overflow-hidden text-center sm:w-auto">
          <h1 class="title-font sm:text-2xl text-xl font-medium text-gray-900 mb-3">
            School(CBSE/ State)
          </h1>
         
        </div>
      
      </a>

      <a class="p-4 lg:w-1/4 h-1/4"href = "/NEET">
      
        <div class="h-full bg-red-100 shadow border-1 border-gray-400 px-8 pt-16 pb-24 rounded-lg overflow-hidden text-center ">
          <h1 class="title-font sm:text-2xl text-xl font-medium text-gray-900 mb-3">
            NEET(AIIMS/ Nursing)
          </h1>
         
        </div>
      
      </a>

      <a class="p-4 lg:w-1/4 h-1/4"href = "/B.Tech">
      
        <div class="h-full bg-gray-200 shadow border-1 border-gray-400 px-8 pt-16 pb-24 rounded-lg overflow-hidden text-center ">
          <h1 class="title-font sm:text-2xl text-xl font-medium text-gray-900 mb-3">
            B.Tech(Computer Eng.)
          </h1>
         
        </div>
      
      </a>

      


      
      
    </div>
  </div>
</section>


<div class="w-full container mx-auto flex flex-wrap items-center justify-center mt-0 px-2 py-3">

  <a class="uppercase tracking-wide no-underline hover:no-underline font-bold text-gray-800 text-xl " href="#">
Store
</a>


<section class="text-gray-600 body-font border-b-2">
  <div class="container lg:w-3/4 sm:w-full px-5 py-24 mx-auto">
    <div class="flex flex-wrap  gap-20">

      



    {% for item in schoolResult %}
      <div class="lg:w-1/6 md:w-1/3  w-full  bg-gray-100 bg-opacity-75   shadow">
        <a class="block overflow-hidden h-65 " href="/{{item[7]}}+school_books">
          <img  alt="ecommerce" class="object object-fill h-40 w-96" src="\static\img\sellerImg\{{item[5]}}">
          
        
        <div class="mt-1 p-3">
          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">class :{{item[1]}}</h3>
          <h2 class="text-gray-900 title-font text-lg font-medium">{{item[0]}}</h2>

          <p class="mt-1 font-bold">₹ {{item[3] }}</p>
        </div>
      </a>
      <a href="/Cart/{{item[7]}}+school_books" class="">
        <div class=" bg-gray-300 flex justify-center border-1  p-2 mb-0 ">ADD TO CART 🛒</div>
      </a>
      
      </div>

    

      
      {% endfor %}





    </div>
  </div>
</section>
    



</div>







<section class="text-gray-600 body-font border-b-2">
  <div class="container lg:w-3/4 sm:w-full  px-5 py-24 mx-auto">
    <div class="flex flex-wrap  gap-20">

    {% for item in jeeResult %}
      <div class="lg:w-1/6 md:w-1/3  w-full  bg-gray-100 bg-opacity-75   shadow">
        <a class="block overflow-hidden h-65 " href="/{{item[7]}}+jee_books">
          <img  alt="ecommerce" class="object object-fill h-40 w-96" src="\static\img\sellerImg\{{item[5]}}">
          
        
        <div class="mt-1 p-3 ">
          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">class :{{item[1]}}</h3>
          <h2 class="text-gray-900 title-font text-lg font-medium">{{item[0]}}</h2>

          <p class="mt-1 font-bold">₹ {{item[3] }}</p>
        </div>
      </a>
      <a href="/Cart/{{item[7]}}+jee_books">
        <div class=" bg-gray-300 flex justify-center border-1  p-2">ADD TO CART 🛒</div>
      </a>
      </div>

      {% endfor %}


    </div>
  </div>
</section>

<section class="text-gray-600 body-font border-b-2">
  <div class="container lg:w-3/4 sm:w-full  px-5 py-24 mx-auto">
    <div class="flex flex-wrap  gap-20">

    {% for item in neetResult %}
      <div class="lg:w-1/6 md:w-1/3  w-full  bg-gray-100 bg-opacity-75   shadow">
        <a class="block overflow-hidden h-65 " href="/{{item[7]}}+neet_books">
          <img  alt="ecommerce" class="object object-fill h-40 w-96" src="\static\img\sellerImg\{{item[5]}}">
          
        
        <div class="mt-1 p-3 ">
          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">class :{{item[1]}}</h3>
          <h2 class="text-gray-900 title-font text-lg font-medium">{{item[0]}}</h2>

          <p class="mt-1 font-bold">₹ {{item[3] }}</p>
        </div>
      </a>
      <a href="/Cart/{{item[7]}}+neet_books">
        <div class=" bg-gray-300 flex justify-center border-1  p-2">ADD TO CART 🛒</div>
      </a>
      </div>

      {% endfor %}


    </div>
  </div>
</section>
    





<section class="lg:py-12 lg:flex lg:justify-center">
  <div class="bg-white dark:bg-gray-800 lg:mx-8 lg:flex lg:max-w-5xl lg:shadow-lg lg:rounded-lg">
      <div class="lg:w-1/2">
          <div class="h-64 bg-cover lg:rounded-lg lg:h-full" style="background-image:url('https://images.unsplash.com/photo-1593642532400-2682810df593?ixlib=rb-1.2.1&ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=750&q=80')"></div>
      </div>

      <div class="max-w-xl px-6 py-12 lg:max-w-5xl lg:w-1/2">
          <h2 class="text-2xl font-bold text-gray-800 dark:text-gray-900 md:text-3xl">Sell Here</h2>
          <p class="mt-4 text-gray-600 dark:text-gray-400">Sell Your Books here, Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente iure doloribus voluptas deserunt officiis. Numquam nisi quisquam aliquam quasi dolor, tempora, illo quod quos odio eveniet quibusdam vel doloremque sint.</p>
          
          <div class="mt-8">
              <a href="/Sell_books" class="px-5 py-2 font-semibold text-gray-100 transition-colors duration-200 transform bg-gray-900 rounded-md hover:bg-gray-700 hover:text-white hover:text-lg">Sell Books</a>
          </div>
      </div>
  </div>
</section> 







      

{% endblock %}