{% extends 'base.html' %}

{% block title %}

 {{data[0]}}
           
{% endblock %}

{% block content %}

<!-- lg:w-1/2 w-full lg:h-auto px-24 object-cover object-top rounded -->


<section class="text-gray-600 body-font overflow-hidden">
    <div class="container px-5 py-16 mx-auto">
      <div class="lg:w-4/5 mx-auto flex flex-wrap">
        <img alt="ecommerce" class="lg:w-1/2 w-full lg:h-auto px-24 object-cover  rounded" src="\static\img\sellerImg\{{data[7]}}">
        <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
          <h2 class="text-sm title-font text-gray-500 tracking-widest">{{data[1]}}</h2>
          <h1 class="text-gray-900 text-3xl title-font font-medium mb-1">{{data[0]}}</h1>

          <p class="leading-relaxes mb-2">
            
          </p>
          
          <p class="leading-relaxed">
            <b> Class </b>: {{data[2]}} <br>
            <b> Manufacturing Year </b>: {{data[3]}} <br>
            <b> Publication Name: </b>{{data[5]}} <br>
            <b> Seller : </b>{{data[6]}} <br>
            <b> Available(quantity): </b> {{data[8]}}

          </p>
          <hr class="flex mt-6 items-center  border-b-2 border-gray-100 mb-5">
            
            
         
          <div class="">
            <!-- <span class="title-font font-medium text-2xl text-gray-900"> ₹ {{data[4]}}</span> -->
            <div class="flex items-center">
              <span class="title-font font-medium text-2xl text-gray-900 mr-3">₹
                  {{data[4]}}
              </span><button
                  class="flex mx-1 md:ml-8 text-white bg-green-500 disabled:bg-gray-300 border-0 py-2 px-2 md:px-6 focus:outline-none hover:bg-green-600 rounded">
                  Buy Now</button>
                  <a href="/Cart/{{bookID}}+{{table}}">
                  <button
                  class="flex mx-1 md:ml-4 text-white bg-blue-500 disabled:bg-gray-300 border-0 py-2 px-2 md:px-6 focus:outline-none hover:bg-blue-600 rounded">
                  Add to Cart 🛒
              </button>
            </a>
          </div>
          <div class="my-4">
              Note: Keeps books safe, so that it can be used by another student can use it.
          </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  




{% endblock %}