{% extends 'base.html' %}

{% block title %}

Sell Books

{% endblock %}



{% block content %}



<section class="text-gray-600 body-font">
  <form action="" method="POST" class="form-register" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="container px-5 py-24 mx-auto flex flex-wrap items-center">

      <div class="lg:w-2/5 md:w-1/3 md:pr-16 lg:pr-0 pr-0 bg-white border-1 border-black p-5">
         
        <h2 class="title-font font-medium text-3xl text-gray-900">Points To focus on While addding books</h2>
        <p class="leading-relaxed mt-4">
          <p class="mb-2 ">Enter <b>Book Name</b>  very Correct so that it can appear on search on top.</p>
          <p class="mb-2">
            <span class="font-bold">Subject Name :</span>
            <span class="text-green-600">Physics, Accounts, Biology.....(single word ) ✔️</span>
          </p>
          <p class="mb-2">
            <span class="font-bold">Subject Name :</span>
            <span class="text-red-600">Physics Jee, Accounts commerce, Biology neet ❌</span>
          </p>
        
          <p class="mb-2  ">Adding image rather than jpeg and jpg cannot make your book add</p>
          
          
        </p>
     
      </div>

      <div
        class="lg:w-2/5 md:w-1/2 border-1 shadow bg-gray-100 rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0">
        
          <h2 class="text-gray-900 text-lg font-medium title-font mb-3">ADD BOOK TO SELL</h2>
          


            <div class=" mb-2">
              <label for="full-name" class="leading-7 text-sm text-gray-600 font-bold" , id="uname"> {{
                form.streamName.label() }} </label>
              {{ form.streamName(class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500
              focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8
              transition-colors duration-200 ease-in-out", placeholder= "Select Stream")}}
            </div>


            <div class=" mb-2">
              <label for="full-name" class="leading-7 text-sm text-gray-600 font-bold"> {{ form.bookname.label() }}
              </label>
              {{ form.bookname(class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500
              focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8
              transition-colors duration-200 ease-in-out", placeholder= "Enter Book Name :")}}
            </div>




            <div class=" mb-2">
              <label for="full-name" class="leading-7 text-sm text-gray-600 font-bold"> {{ form.subjectName.label() }}
              </label>
              {{ form.subjectName(class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500
              focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8
              transition-colors duration-200 ease-in-out", placeholder= "Physics, Commerce, Competitive Maths, etc.")}}
            </div>


            <div class=" mb-2">
              <label for="full-name" class="leading-7 text-sm text-gray-600 font-bold"> {{ form.className.label() }}
              </label>
              {{ form.className(class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500
              focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8
              transition-colors duration-200 ease-in-out", placeholder= "12, 11, if year = 1,2,3,etc.")}}
            </div>

          

         

            <div class=" mb-2">
              <label for="full-name" class="leading-7 text-sm text-gray-600 font-bold"> {{ form.mfgYear.label() }}
              </label>
              {{ form.mfgYear(class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2
              focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors
              duration-200 ease-in-out", placeholder= "2020, 2019, 2018...")}}
            </div>

            <div class=" mb-2">
              <label for="full-name" class="leading-7 text-sm text-gray-600 font-bold"> {{ form.sellingAmount.label() }}
              </label>
              {{ form.sellingAmount(class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500
              focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8
              transition-colors duration-200 ease-in-out", placeholder= "In Rupees")}}
            </div>

            <div class=" mb-2">
              <label for="full-name" class="leading-7 text-sm text-gray-600 font-bold"> {{ form.publicationName.label()
                }} </label>
              {{ form.publicationName(class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500
              focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8
              transition-colors duration-200 ease-in-out", placeholder= "NCERT, Arihant, NK..")}}
            </div>

            <div class=" flex flex-row mb-4">
              <div class="flex flex-col">

                <label for="full-name" class="leading-7 text-sm text-gray-600 font-bold"> {{ form.bookImage.label() }}
                  (jpg & png only) </label>
                {{ form.bookImage(class="w-3/4", placeholder= "Upload Image here")}}
              </div>

              {{ form.quantity(class="w-1/3 bg-white rounded mt-3 border border-gray-300 focus:border-indigo-500
              focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1  leading-8
              transition-colors duration-200 ease-in-out", placeholder= "Quantity")}}
            </div>
          



        {{ form.submit(class="text-white w-full bg-gray-600 border-0 py-2 px-8 focus:outline-none hover:bg-gray-900
        rounded
        text-lg ")}}
      </div>
    </div>


    </div>

    </div>

  </form>
</section>

{% endblock %}