{% extends 'base.html' %}

{% block title %}

Chemistry-Books
{% endblock %}

{% block content %}

<h1 class="uppercase tracking-wide flex flex-col items-center no-underline hover:no-underline font-bold text-gray-800 text-xl mt-4 border-b-2 p-2"> Chemistry-Books</h1>

<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap ml-20 gap-20">



      {% for item in data %}
      <div class="lg:w-1/6 md:w-1/3  w-full  bg-gray-100 bg-opacity-75  shadow">
        <a class="block overflow-hidden h-65 " href="/product/{{item[7]}}+jee_books">
          <img  alt="ecommerce" class="object object-fill h-48 w-96" src="\static\img\sellerImg\{{item[5]}}">
          
        
        <div class="mt-2 p-4 ">
          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">class :{{item[1]}}</h3>
          <h2 class="text-gray-900 title-font text-lg font-medium">{{item[0]}}</h2>

          <p class="mt-1 font-bold">₹ {{item[3] }}</p>
        </div>
      </a>
      <a href="/Cart/{{item[7]}}+jee_books">
        <div class=" bg-gray-300 flex justify-center border-1  p-2">ADD TO CART 🛒</div>
      </a>
        
      </div>
        {% endfor %}

        
      </div>
    </div>
  </section>

{% endblock %}